
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.kalkulator-hypergeometric-peubah-acak-mdo {
  background-color: #252525;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .group-47259-Jdj {
    height: 8.1rem;
    display: flex;
    align-items: center;
    background: linear-gradient(269.7deg, #7370ff 27.48%, rgba(115, 112, 255, 0) 77.79%);
    margin-bottom: 6.9rem;
    box-sizing: border-box;
    padding: 1.7rem 67.081rem 2.175rem 11.39rem;
    width: 192.2809rem;
    background-color: rgba(5, 0, 0, 0.6299999952);
    flex-shrink: 0;

    .back-button-Qgm {
      margin: 0rem 40.293rem 0.025rem 0rem;
      width: 14.9416rem;
      height: calc(100% - 0.0252rem);
      cursor: pointer;
      position: relative;
      flex-shrink: 0;

      .rectangle-4153-vv1 {
        border-radius: 1rem;
        width: 14.0843rem;
        height: 4.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .expandleft-EQu {
        top: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.9103rem;
        height: 1.2rem;
        position: absolute;
        left: 2.7127rem;
      }
      .back-wq7 {
        height: 3rem;
        top: 0.6rem;
        font-size: 2rem;
        font-weight: 500;
        color: #651480;
        width: 5.5rem;
        position: absolute;
        left: 4.2865rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .waterfall-Sms {
      box-sizing: border-box;
      flex-direction: column;
      border: solid 0.2rem #ffffff;
      flex-shrink: 0;
      display: flex;
      border-radius: 0.5rem;
      margin-right: 6.4882rem;
      padding: 0.88rem 0.811rem 0.528rem 0.811rem;
      height: 100%;
      align-items: center;

      .auto-group-xyk9-mp9 {
        margin: 0rem 0rem 0.88rem 0rem;
        width: 4.3247rem;
        height: 1.9366rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-25-HGh {
        width: 4.8653rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.2rem;
        flex-shrink: 0;
      }
    }
    .kalkulator-distribusi-peubah-acak-diskrit-Bcy {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.5748rem;
    }
  }
  .kalkulator-hypergeometric-1ru {
    text-decoration-line: underline;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 10.4rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.5;
  }
  .auto-group-vk1p-6dT {
    height: 105.4rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .calculate-box-2-dtH {
      left: 11.1rem;
      top: 40.9rem;
      height: 3.7544rem;
      justify-content: center;
      border-radius: 0.5rem;
      white-space: nowrap;
      font-size: 2rem;
      line-height: 1.5;
      color: #ffffff;
      align-items: center;
      background-color: #000000;
      background: linear-gradient(270.89deg, #7370ff 63.8%, rgba(0, 0, 0, 0) 98.9%);
      width: 27.3548rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      position: absolute;
    }
    .jumlah-populasi-4Cu {
      height: 3.2181rem;
      position: absolute;
      left: 11.208rem;
      top: 6.9rem;
      display: flex;
      align-items: flex-start;
      border-radius: 0.5rem;
      width: 71.5612rem;

      .jumlah-populasi-n-BoK {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.0502rem;
      }
      .rectangle-4180-ujK {
        margin-top: 0.1073rem;
        width: 34.511rem;
        height: 3.1108rem;
        background-color: #d9d9d9;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .jumlah-sampel-q7B {
      width: 71.7921rem;
      height: 3.6471rem;
      position: absolute;
      left: 11.208rem;
      top: 14.087rem;
      display: flex;
      align-items: flex-end;
      border-radius: 0.5rem;

      .jumlah-sampel-n-ZYy {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 17.481rem 0.004rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .rectangle-4181-FAu {
        margin-bottom: 0.5363rem;
        width: 34.511rem;
        height: 3.1108rem;
        background-color: #d9d9d9;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .jumlah-sukses-AYm {
      align-items: flex-end;
      width: 71.9075rem;
      height: 3.7544rem;
      position: absolute;
      left: 11.0925rem;
      display: flex;
      box-sizing: border-box;
      padding-right: 0rem;
      top: 21.1667rem;
      border-radius: 0.5rem;

      .jumlah-sukses-k-VL9 {
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 18.596rem 0.004rem 0rem;
        font-size: 2rem;
      }
      .rectangle-4182-RDo {
        flex-shrink: 0;
        margin-bottom: 0.6436rem;
        width: 34.511rem;
        height: 3.1108rem;
        background-color: #d9d9d9;
        border-radius: 0.5rem;
      }
    }
    .jumlah-sukses-terambil-LrZ {
      left: 10.4rem;
      display: flex;
      border-radius: 0.5rem;
      height: 3.2181rem;
      position: absolute;
      top: 28.2465rem;
      align-items: flex-start;
      box-sizing: border-box;
      padding-right: 0rem;
      width: 72.6rem;

      .jumlah-sukses-terambil-x-fdw {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.389rem;
      }
      .rectangle-4183-bXb {
        width: 34.511rem;
        height: 3.1108rem;
        background-color: #d9d9d9;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
  }
}
