
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.menu-kal-persebaran-data-qf3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #252525;

  .group-47259-2jX {
    width: 194.5rem;
    height: 8.1rem;
    background-color: rgba(5, 0, 0, 0.6299999952);
    background: linear-gradient(269.7deg, #7370ff 27.48%, rgba(115, 112, 255, 0) 77.79%);
    box-sizing: border-box;
    padding: 0.8rem 60.6rem 0.8rem 12.389rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    .back-button-2Ff {
      height: calc(100% - 2.3rem);
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin: 1.2rem 63.497rem 1.1rem 0rem;
      width: 15.114rem;

      .rectangle-4153-7H7 {
        width: 14.2468rem;
        height: 4.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        border-radius: 1rem;
      }
      .expandleft-Nyj {
        width: 2.9732rem;
        height: 2.4rem;
        position: absolute;
        left: 1.3627rem;
        top: 0.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .back-hm7 {
        height: 3rem;
        left: 4.336rem;
        font-size: 2rem;
        color: #651480;
        font-family: Poppins, 'Source Sans Pro';
        width: 5.5rem;
        top: 0.6rem;
        font-weight: 500;
        line-height: 1.5;
        white-space: nowrap;
        position: absolute;
      }
    }
    .chart-wvM {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 3.982rem 1.9rem 0rem;
      width: 6.3182rem;
      height: 4.6rem;
    }
    .kalkulator-persebaran-data-fLZ {
      margin-bottom: 0.7rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-b1bb-5fB {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.5rem 7.9rem 36.3rem 7.9rem;
    width: 100%;
    display: flex;

    .kotak-masukan-data-8tM {
      width: 66.9rem;
      display: flex;
      background: linear-gradient(180deg, #9035e9 41.67%, rgba(144, 53, 233, 0) 100%);
      border-radius: 0.5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 2.8rem;
      flex-direction: column;
      margin-bottom: 11.6rem;
      align-items: center;

      .auto-group-5ykx-ERb {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 27.1rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-4155-mRX {
          width: 66.9rem;
          height: 4.5rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(196, 196, 196, 0.7200000286);
          border-radius: 0.5rem;
        }
        .rectangle-4156-rhs {
          width: 66.9rem;
          height: 4.2rem;
          position: absolute;
          left: 0;
          top: 3.5rem;
          background: linear-gradient(180deg, #9035e9 41.67%, rgba(144, 53, 233, 0) 100%);
        }
        .rectangle-4157-Ld3 {
          background-color: #ffffff;
          border-radius: 0.5rem;
          width: 60rem;
          height: 20.5rem;
          position: absolute;
          left: 3.2rem;
          top: 6.6rem;
        }
        .masukan-data--fQR {
          white-space: nowrap;
          width: 10.8rem;
          height: 1.8rem;
          position: absolute;
          left: 1.5rem;
          font-size: 1.2rem;
          line-height: 1.5;
          top: 1.1rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          align-items: baseline;

          .masukan-data--fQR-sub-0 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
          }
          .masukan-data--fQR-sub-1 {
          }
        }
      }
      .auto-group-tgwr-G2q {
        display: flex;
        border-radius: 0.5rem;
        width: calc(100% - 50.4rem);
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 3.9rem;
        font-size: 1.6rem;
        font-weight: 700;
        background-color: #000000;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin: 0rem 25.5rem 0rem 24.9rem;
        color: #ffffff;
        white-space: nowrap;
      }
    }
    .data-terurut-box-RK3 {
      font-size: 1.5rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #f6f6f6;
      border-radius: 1rem;
      padding: 1.4rem 1.5rem 1.8rem 1.5rem;
      box-sizing: border-box;
      width: 67.8rem;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.7rem;
    }
    .max-box-Fos {
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #f6f6f6;
      margin: 0rem 0rem 1.9rem 0.7rem;
      box-sizing: border-box;
      width: 67.8rem;
      font-weight: 700;
      flex-shrink: 0;
      padding: 1.3rem 1.5rem 1.9rem 1.5rem;
      font-size: 1.5rem;
      color: #000000;
      border-radius: 1rem;
    }
    .min-box-52D {
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      border-radius: 1rem;
      margin: 0rem 0rem 1.9rem 0.7rem;
      padding: 1.7rem 1.5rem 1.5rem 1.5rem;
      font-size: 1.5rem;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #f6f6f6;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 67.8rem;
      line-height: 1.5;
    }
    .ratarata-box-waD {
      font-family: Poppins, 'Source Sans Pro';
      background-color: #f6f6f6;
      flex-shrink: 0;
      padding: 1.3rem 1.5rem 1.9rem 1.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
      border-radius: 1rem;
      margin: 0rem 0rem 1.9rem 0.7rem;
      box-sizing: border-box;
      width: 67.8rem;
      color: #000000;
    }
    .median-box-buf {
      box-sizing: border-box;
      font-weight: 700;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      border-radius: 1rem;
      margin: 0rem 0rem 1.9rem 0.7rem;
      padding: 1.5rem 1.8rem 1.7rem 1.8rem;
      width: 67.8rem;
      font-size: 1.5rem;
      color: #000000;
      white-space: nowrap;
      background-color: #f6f6f6;
    }
    .modus-box-sMP {
      margin: 0rem 0rem 1.9rem 0.7rem;
      box-sizing: border-box;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      padding: 1.1rem 1.8rem 2.1rem 1.8rem;
      width: 67.8rem;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #f6f6f6;
      border-radius: 1rem;
    }
    .q1-box-i77 {
      background-color: #f6f6f6;
      flex-shrink: 0;
      box-sizing: border-box;
      font-size: 1.5rem;
      color: #000000;
      white-space: nowrap;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      border-radius: 1rem;
      margin: 0rem 0rem 1.9rem 0.7rem;
      padding: 1.1rem 1.6rem 2.1rem 1.6rem;
      width: 67.8rem;
      font-weight: 700;
    }
    .q2-box-LeH {
      width: 67.8rem;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      font-weight: 700;
      white-space: nowrap;
      background-color: #f6f6f6;
      border-radius: 1rem;
      margin: 0rem 0rem 1.9rem 0.7rem;
      box-sizing: border-box;
      padding: 1.3rem 1.9rem 1.9rem 1.9rem;
      font-size: 1.5rem;
      flex-shrink: 0;
    }
    .iqr-box-1Ed {
      line-height: 1.5;
      white-space: nowrap;
      border-radius: 1rem;
      margin: 0rem 0rem 1.9rem 0.7rem;
      box-sizing: border-box;
      font-weight: 700;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #f6f6f6;
      flex-shrink: 0;
      padding: 1.4rem 1.6rem 1.8rem 1.6rem;
      width: 67.8rem;
      font-size: 1.5rem;
    }
    .outlier-box-fKB {
      padding: 1.4rem 1.7rem 1.8rem 1.7rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      background-color: #f6f6f6;
      margin-left: 0.7rem;
      width: 67.8rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
    }
  }
}
